.st0{fill:url(#SVGID_1_);}
	.st1{fill:url(#SVGID_2_);}
	.st2{fill:url(#SVGID_3_);}
	.st3{opacity:0.53;fill:#0071BC;}
	.st4{opacity:0.53;fill:url(#SVGID_4_);}
	.st5{fill:url(#SVGID_5_);}
	.st6{fill:url(#SVGID_6_);}
	.st7{fill:url(#SVGID_7_);}
	.st8{opacity:0.53;fill:url(#SVGID_8_);}
	.st9{fill:none;stroke:#00FFFF;stroke-linecap:round;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#00FFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:83.1492,15.5905;}
	.st11{fill:none;stroke:#00FFFF;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:50,15;}
	.st12{fill:none;stroke:#00FFFF;stroke-width:2;stroke-miterlimit:10;}
    .st13{fill:#FFFFFF;stroke:#0071BC;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
    
