

:root{
    // --main-color: #e400ff;
    --main-color: #D9488B;
}
// FONTS

$roboto: 'Roboto', sans-serif;
$bebasneue: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
$corsivo:  'Satisfy', cursive;
$righteous: 'Righteous', cursive;

// 3D and effects

$Ydegrees: -30deg;
$Perspective: 1000px;


// Hologram

$fadeInspeed: 1s;


//Z-index 

$Zkey:1200;
$ZTop: 1000;
$Zdoors : 500;
$Zhologram: 300;
$ZmodalTrue: 100;

