body{
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  // background-color:#232741;
}


#particles-js{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  z-index: -10;
}


.header-line-bottom{
  margin: 10px auto;
  width:100%;
  border-bottom: 1px solid var(--main-color);
  display: block;
}

// PROVVISORIO



a{
  text-decoration: none;
  cursor:pointer;
}
