


.button-prova{
  padding: 20px;
  cursor:pointer;
  background-color: green;
}


object{
  height:50vh;
  margin:50px;
}

.st0{
  fill:none;
  stroke:#0ff;
  stroke-width:0.5;
  stroke-miterlimit:10;
}
.st1{
  fill:none;
  stroke:#0ff;
  stroke-width:0.3;
  stroke-miterlimit:10;
}
.st2{
  fill:none;
  stroke:#0ff;
  stroke-width:0.3;
  stroke-miterlimit:10;
  stroke-dasharray:1;
}

.st3{
    fill:none;
    stroke:#0ff;
    stroke-width:0.2;
    stroke-miterlimit:10;
}
.st02{
  fill:none;
  stroke:#0ff;
  stroke-width:0.2;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
.st03{
  fill:none;
  stroke:#0ff;
  stroke-width:0.5;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
.st04{
fill:none;
stroke:#0ff;
stroke-width:0.3;
stroke-linecap:round;
stroke-miterlimit:10;
}
.st05{
  fill:none;
  stroke:#0ff;
  stroke-width:0.4;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.round-linecap{
  stroke-linecap:round;
}
.hide-svg{
  opacity:0;
}

.lightgreen{
  stroke: green;
}
// TAILOR MADE SVG ANIMATION

#matita{
  animation: showPath 1s ease forwards;
}

#righello{
  animation: showPath 1s 1s ease forwards;
}

.big-box{
  animation: showPath 1s 2s ease forwards;
}

.box-top{
  animation: showPath 1s 3s ease forwards;
}

.box-bottom{
  animation: showPath 1s 4s ease forwards;
}

.play-button{
  animation: showPath 1s 5s ease forwards;
}

.line-top{
  animation: lineTop 1s 6s linear forwards;
  stroke-dasharray: 11.5;
  stroke-dashoffset: 11.5;
}

@keyframes lineTop {
  from {
    stroke-dashoffset: 11.5;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.line-bottom{
  animation: lineBottom 1s 7s linear forwards;
  stroke-dasharray: 7.3;
  stroke-dashoffset: 7.3;
}

@keyframes lineBottom {
  from {
    stroke-dashoffset: 7.3;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// RESPONSIVE SVG ANIMATION

#responsive-svg-pc-box-top{
  animation: showPath 1s 1s ease forwards;
}
.responsive-pc-line-s-top{
  animation: responsive-pc-line-s .5s 2s ease forwards;
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
}
.responsive-pc-line-l-top{
  animation: responsive-pc-line-l 1s 2.5s ease forwards;
  stroke-dasharray: 9.6;
  stroke-dashoffset: 9.6;
}
#responsive-svg-pc-box-mid{
  animation: showPath 1s 3.5s ease forwards;
}
.responsive-pc-line-s-mid{
  animation: responsive-pc-line-s .5s 4.5s ease forwards;
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
}
.responsive-pc-line-l-mid{
  animation: responsive-pc-line-l 1s 5s ease forwards;
  stroke-dasharray: 9.6;
  stroke-dashoffset: 9.6;
}
#responsive-svg-pc-box-bottom{
  animation: showPath 1s 6s ease forwards;
}
.responsive-pc-line-s-bot{
  animation: responsive-pc-line-s .5s 7s ease forwards;
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
}

@keyframes responsive-pc-line-s{
  from {
    stroke-dashoffset: 6;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes responsive-pc-line-l{
  from {
    stroke-dashoffset: 9.6;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#tablet{
  animation: showPath 1s 7.5s ease forwards;
}
#responsive-svg-tab-box-top{
  animation: showPath .5s 8.5s ease forwards;
}
.responsive-tab-line-left-1,
.responsive-tab-line-left-2,
.responsive-tab-line-left-3,
.responsive-tab-line-left-4,
.responsive-tab-line-left-5,
.responsive-tab-line-right-1,
.responsive-tab-line-right-2,
.responsive-tab-line-right-3,
.responsive-tab-line-right-4,
.responsive-tab-line-right-5{
  stroke-dasharray: 2.9;
  stroke-dashoffset: 2.9;
}

#responsive-svg-tab-box-left{
  animation: showPath .5s 9s ease forwards;
}
.responsive-tab-line-left-1{
  animation: responsive-tab-line 0.5s 9.5s ease forwards;
}
.responsive-tab-line-left-2{
  animation: responsive-tab-line 0.5s 10s ease forwards;
}
.responsive-tab-line-left-3{
  animation: responsive-tab-line 0.5s 10.5s ease forwards;
}
.responsive-tab-line-left-4{
  animation: responsive-tab-line 0.5s 11s ease forwards;
}
.responsive-tab-line-left-5{
  animation: responsive-tab-line 0.5s 11.5s ease forwards;
}
#responsive-svg-tab-box-right{
  animation: showPath .5s 12s ease forwards;
}
.responsive-tab-line-right-1{
  animation: responsive-tab-line 0.5s 12.5s ease forwards;
}
.responsive-tab-line-right-2{
  animation: responsive-tab-line 0.5s 13s ease forwards;
}
.responsive-tab-line-right-3{
  animation: responsive-tab-line 0.5s 13.5s ease forwards;
}
.responsive-tab-line-right-4{
  animation: responsive-tab-line 0.5s 14s ease forwards;
}
.responsive-tab-line-right-5{
  animation: responsive-tab-line 0.5s 14.5s ease forwards;
}


@keyframes responsive-tab-line{
  from {
    stroke-dashoffset: 2.9;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#phone{
  animation: showPath 1s 15s ease forwards;
}
// UNIQUE SVG ANIMATIONS

#luce line{
  animation: easy-light .5s 2s ease forwards;
}


@keyframes easy-light{
  from {
    opacity:0;
    stroke:#0ff;
    stroke-width:0.2;
  }
  to {
    opacity:1;
    stroke: lightyellow;
    stroke-width:0.4;
  }
}

.line{
  animation: showPath 1s 2.5s ease forwards, dashed-line 1.5s 2.5s linear infinite;
}

.line2 {
  animation: showPath 1s 2.5s ease forwards, dashed-line2 1.5s 2.5s linear infinite;
}


@keyframes dashed-line{
  to {
    stroke-dashoffset: -10;
  }
}

@keyframes dashed-line2{
  to {
    stroke-dashoffset: 10;
  }
}

#stella {
  animation: stella 4.5s 3.5s ease forwards;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
}

@keyframes stella{
  from {
    stroke-dashoffset: 30;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#fiore path{
  animation: fiore 5.5s 3.5s ease forwards;
  stroke-dasharray: 41;
  stroke-dashoffset: 41;
}

@keyframes fiore{
  from {
    stroke-dashoffset: 41;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// EASY SVG ANIMATION


#pc_1_ {
  animation: showPath 1s 1s ease forwards;
}
#mobile-easy {
  animation: showPath 1s 2s ease forwards;
}


.easy-line-top-l{
  animation: easy-line-top-l 1s 3s ease forwards;
  stroke-dasharray: 5.4;
  stroke-dashoffset: 5.4;
}
@keyframes easy-line-top-l{
  from {
    stroke-dashoffset: 5.4;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.easy-line-bottom-s{
  animation: easy-line-bottom-s .5s 4s ease forwards;
  stroke-dasharray: 3.5;
  stroke-dashoffset: 3.5;
}
@keyframes easy-line-bottom-s{
  from {
    stroke-dashoffset: 3.5;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.easy-line-top-s{
  animation: easy-line-top-s .5s 4.5s ease forwards;
  stroke-dasharray: 2.9;
  stroke-dashoffset: 2.9;
}
@keyframes easy-line-top-s{
  from {
    stroke-dashoffset: 2.9;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.easy-line-bottom-l{
  animation: easy-line-bottom-l 1s 5s ease forwards;
  stroke-dasharray: 5;
  stroke-dashoffset: 5;
}
@keyframes easy-line-bottom-l{
  from {
    stroke-dashoffset: 5;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#mano {
  animation: showPath 1s 6s ease forwards;
}

@keyframes showPath{
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

#OK,
#OK_1_{
  animation: showPath .5s 6.5s ease forwards;
}



// DIGITAL EMOTIONS

.digital-emotions{
    width:90%;
    max-width:1200px;
    margin: 100px auto;
    display: block;
  }

  #d, #i, #g, #i2, #t, #a, #l, #e, #m, #o, #t2, #i3, #o2, #n, #s{
    fill: transparent;
    stroke: #fff;
    animation: borderani 5s 0.5s forwards, stokeFill 6s 3s forwards;
  }

  #b,#y{
    fill: transparent;
    stroke: #fff;
    animation: borderani 3s 5s forwards, stokeFill 3s 6s forwards;
  }

  #d{
    stroke-dasharray:505px;
    stroke-dashoffset:505px;
  }
  #i{
    stroke-dasharray:195px;
    stroke-dashoffset:195px;
  }
  #g{
    stroke-dasharray:573px;
    stroke-dashoffset:573px;
  }
  #i2{
    stroke-dasharray:195px;
    stroke-dashoffset:195px;
  }
  #t{
    stroke-dasharray:325px;
    stroke-dashoffset:325px;
  }
  #a{
    stroke-dasharray:446px;
    stroke-dashoffset:446px;
  }
  #l{
    stroke-dasharray:296px;
    stroke-dashoffset:296px;
  }
  #e{
    stroke-dasharray:516px;
    stroke-dashoffset:516px;
  }
  #m{
    stroke-dasharray:712px;
    stroke-dashoffset:712px;
  }
  #o{
    stroke-dasharray:493px;
    stroke-dashoffset:493px;
  }
  #t2{
    stroke-dasharray:325px;
    stroke-dashoffset:325px;
  }
  #i3{
    stroke-dasharray:195px;
    stroke-dashoffset:195px;
  }
  #o2{
    stroke-dasharray:493px;
    stroke-dashoffset:493px;
  }
  #n{
    stroke-dasharray:542px;
    stroke-dashoffset:542px;
  }
  #s{
    stroke-dasharray:498px;
    stroke-dashoffset:498px;
  }
  #b{
    stroke-dasharray:328px;
    stroke-dashoffset:328px;
  }
  #y{
    stroke-dasharray:188px;
    stroke-dashoffset:188px;
  }

  @keyframes borderani{
    to{ stroke-dashoffset:0;}
  }

  @keyframes stokeFill{
    to{ 
      fill:#fff;
      fill-opacity:1;
      stroke: transparent;
    }
  }

.by{
    width:100px;
    margin: 100px auto;
    display: block;
}



// FIRMA

.firma{
    fill:none;
    stroke: white;
    stroke-width:4;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
   }



#letter-n{
    stroke-dasharray: 884;
    stroke-dashoffset: 884;
    animation: enne 0.5s linear ;
    animation-fill-mode: forwards;
    animation-delay: 7s;
}

@keyframes enne {
    from {
      stroke-dashoffset: 884;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  #letter-ic{
    stroke-dasharray: 204;
    stroke-dashoffset: 204;
    animation: ic 0.25s linear;
    animation-fill-mode: forwards;
    animation-delay: 7.5s;
}

@keyframes ic {
    from {
      stroke-dashoffset: 204;
    }
    to {
      stroke-dashoffset: 0;

    }
  }

  #letter-v{
    stroke-dasharray: 620;
    stroke-dashoffset: 620;
    animation: v 0.5s linear;
    animation-delay: 7.75s;
    animation-fill-mode: forwards;
}

@keyframes v {
    from {
      stroke-dashoffset: 620;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  #letters-annetti{
    stroke-dasharray: 1811;
    stroke-dashoffset: 1811;
    animation: annetti 2s linear;
    animation-delay: 8.25s;
    animation-fill-mode: forwards;
}

@keyframes annetti {
    from {
      stroke-dashoffset: 1811;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  #linea-orizzontale{
    stroke-dasharray: 903;
    stroke-dashoffset: 903;
    animation: linea 0.5s linear;
    animation-delay: 10.25s;
    animation-fill-mode: forwards;
}

@keyframes linea {
    from {
      stroke-dashoffset: 903;
    }
    to {
      stroke-dashoffset: 0;
    }
  }