#webdesign-modal{
    @include mqs {
        position:fixed;
        top: 15vh;
        left:45vw;
    }
    @include mq{
        top: 17vh;
        left:40vw;
    }
    @include mql{
        top: 23vh;
        left:30vw;
        
    }
}


.webdesign-modal-box-big{
    height: 5vh;
    width: 4vw;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,220,255,1) 1%, rgba(0,220,255,0.6530987394957983) 6%, rgba(0,219,255,0.29735644257703087) 12%, rgba(0,212,255,0) 100%);
    // box-shadow: 0 0 5px 1px #0ff, 0 0 5px 1px #0ff inset;
    margin: 4vh auto;
}


.webdesign-modal-true{
    display:none;
}

.webdesign-modal-img{
    height: 20vh;
    margin: 0 auto;
    display: block;
    @include mqs{
        height: 12vh;
    }
    @include mqxl{
        height: 18vh;
    }
   }

   .webdesign-modal-desktop-image{
       position:fixed;
       top:28vh;
       left:5vw;
       width:25vw;
       display:none;
       @include mqs{
           width: 35vw;
       }
       @include mq {
           width: 25vw;
           top: 35vh;
           left:10vw;
       }
       @include mql{
           top: 30vh;
           left: 2vw;
       }
   }